
html,
body,
.app {
  height:100vh;
  background: #eee;
  padding:1em
}

.menu {
  padding-bottom: 2em;
}

.messages {
  height:550px;
  overflow-y: scroll;
}

.message__form{
  position: fixed !important;
  bottom: 1em;
  margin-left:320px !important;
  left: 0;
  right:1em;
  z-index:200;
}


.message__self {
  border-left:2px solid orange;
  padding-left:8px;
}

.message__image {
  padding: 1em;
}

.progress__bar {
   margin: 0.3em 0 0 0  !important;
}